{% extends 'layout.html' %}
    {% block content%}

<!-- ABOUT PAGE -->

<div class="container py-5">

    <h3>We’d Love to Hear From You! </h3><br>
    <h6>If you’d like to share feedback, request features, or learn more about this Playdate project, feel free to reach out.
This app is part of a portfolio demonstrating user-generated content, geolocation features, and social interactions.</h6><br>



<h4>Ways to Contact Us</h4>

<p>Email: gayathri@example.com</p>
<p>GitHub: your-github</p>
<p>LinkedIn: your-linkedin</p>

<p>or send a quick message using the form below. </p>
</div>

<div class="container mt-5" style="max-width: 600px;">
  <div class="card shadow-sm p-1">
    <h4 class="mb-3">Get in Touch</h4>

    <form>
      <input class="form-control mb-3" placeholder="Your email" required>
      <textarea class="form-control mb-3" rows="5" placeholder="Message" required></textarea>
      <button class="btn btn-primary w-100">Send</button>
    </form>

  </div>
</div>


    {% endblock%}