{% extends 'layout.html' %}
    {% block content%} 
       
       <div class="bg-light py-5 mb-4 border-bottom">
          <div class="container text-center">
            <h1 class="fw-bold">Find Playdates Near You</h5>
            <p class="text-muted fs-5">Discover families, connect, and create fun experiences for your kids.</p>

            <!-- Search Bar -->
            <form method="get" action="{{ url_for('main.search_playdates') }}" class="row g-2 justify-content-center mt-4">

              <div class="row g-2 align-items-end pb-4">
                <div class="col-md-4">
                  <label for="radius-select" class="form-label mb-2">Location</label><br>
                  <input type="search" class="p-1" placeholder="Search Location (City/Area)" name="search" minlength="2" maxlength="100" value="{{ searchtext }}" required><br>
                </div>
                <div class="col-md-3">
                  <label for="radius" class="form-label mb-2">Radius</label><br>
                  <select class="form-select" name="radius" id="radius-playdates">
                    <option value="1">1 km (Walking Distance)</option>
                    <option value="3" selected>3 km (Nearby)</option>
                    <option value="5">5 km (Short drive)</option>
                    <option value="10">10 km (City-wide)</option>
                    <option value="20">20 km (Extended area)</option>
                  </select>
                </div>
                <div class="col-md-2 d-grid">
                  <button type="submit" class="btn btn-primary w-100">Search</button>
                </div>
                
          </div>
         </div>
        </form>
      

        {% if searchtext and playdatesinfo.items %}
        
        <p>Showing Playdates within {{ radius }} km of {{ searchtext}}</p>
        
        {% endif %}

        {% if not current_user.is_authenticated %}
          <div class="alert alert-info text-center">
              Please <a href="{{ url_for('main.login') }}">Log in</a> or 
              <a href="{{ url_for('main.register') }}">Create an account</a> to view full playdate details.
          </div>
        {% endif %}

          {% for playdate in playdatesinfo.items %}
          <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ url_for('static',filename='pictures/' +playdate.author.image_file) }}">
            <div class="media-body">
              <div class="article-metadata">
                <a class="mr-2" href="{{ url_for('main.user_playdates',username=playdate.author.username)}}">{{ playdate.author.username }}</a>
                <small class="text-muted">{{ playdate.date_posted.strftime('%Y-%m-%d')}}</small>
              </div>
              <h2><a class="article-title" href="{{url_for('main.playdate',playdate_id=playdate.id ) }}">{{ playdate.title }}</a></h2>
              <p class="article-content">{{ playdate.description }}</p>
              {% if current_user.is_authenticated %}
                <p class="article-content">{{ playdate.city }}</p>
                <p class="article-content">{{ playdate.playdate_date_time.strftime('%a, %b %d-%Y, %H:%M')}}</p>
                {% if playdate.author.id != current_user.id%}
                  <a href="{{ url_for('main.contact_author', user_id=playdate.author.id) }}" class="btn btn-sm btn-outline-primary mt-2">Contact Parent</a>
                {% endif %}
              {% else %}
                <p class="article-content blurred-content">{{ playdate.city }}</p>
                <p>{{ playdate.playdate_date_time}}</p>
                <p class="article-content blurred-content">{{ playdate.playdate_date_time.strftime('%a, %b %d-%Y, %H:%M')}}</p>
              {% endif %}
              {% if searchtext and playdatesinfo.items %}
                <p class="article-content">{{ away[playdate.id] }} Km away</p>
              {% endif %}
            </div>
          </article>
        {% endfor %}

        {% for page_num in playdatesinfo.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
          {% if  page_num %}
              {% if  playdatesinfo.page == page_num %}
                <a class = "btn btn-info mb-4" href="{{url_for('main.home',page=page_num)}}">{{page_num}}</a>
              {% else %}
                <a class = "btn btn-outline-info mb-4" href="{{url_for('main.home',page=page_num)}}">{{page_num}}</a>
              {% endif %}
          {% else %}
            ...
          {% endif %}
        {% endfor %}
  
        
    {% endblock%}