{% extends 'layout.html' %} {% block content%}

<article class="media content-section">
  <img
    class="rounded-circle article-img"
    src="{{ url_for('static',filename='pictures/' +playdate.author.image_file) }}"
  />
  <div class="media-body">
    <div class="article-metadata">
      <a href="{{url_for('main.update_playdate',playdate_id=playdate.id)}}" class="btn btn-secondary btn-sm float-right">Update</a>
      <button type="button" class="btn btn-danger btn-sm float-right" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button> 
      <a class="mr-2" href="{{ url_for('main.user_playdates',username=playdate.author.username) }}">{{ playdate.author.username }}</a>
      <small class="text-muted"
        >{{ playdate.date_posted.strftime('%d-%m-%Y')}}</small
      >
    </div>
    <h2 class="article-title">{{ playdate.title }}</h2>
    <p class="article-content">{{ playdate.description }}</p>
    <p class="article-content">{{ playdate.city }}</p>
    <p class="article-content">{{ playdate.playdate_date_time }}</p>
  </div>
  

</article>
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteModalLabel">Are you sure to Delete playdate ?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <form method="playdate" action="{{ url_for('main.delete_playdate',playdate_id=playdate.id)}}">
            <input type="submit" class="btn btn-danger" value="Delete" >
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock%}