{% extends 'layout.html' %}
    {% block content%}    
        <h1 class="mb-3">Playdates by {{ user.username }} ({{ playdatesinfo.total }})</h1>
        {% for playdate in playdatesinfo.items %}
          <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ url_for('static',filename='pictures/' +playdate.author.image_file) }}">
            <div class="media-body">
              <div class="article-metadata">
                <a class="mr-2" href="{{ url_for('main.user_playdates',username=playdate.author.username) }}">{{ playdate.author.username }}</a>
                <small class="text-muted">{{ playdate.date_posted.strftime('%Y-%m-%d')}}</small>
              </div>
              <h2><a class="article-title" href="{{url_for('main.playdate',playdate_id=playdate.id  ) }}">{{ playdate.title }}</a></h2>
              <p class="article-content">{{ playdate.content }}</p>
            </div>
          </article>

        {% endfor %}
        {% for page_num in playdatesinfo.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
          {% if  page_num %}
              {% if  playdatesinfo.page == page_num %}
                <a class = "btn btn-info mb-4" href="{{url_for('main.user_playdates',username = user.username, page=page_num)}}">{{page_num}}</a>
              {% else %}
                <a class = "btn btn-outline-info mb-4" href="{{url_for('main.user_playdates',username = user.username,page=page_num)}}">{{page_num}}</a>
              {% endif %}
          {% else %}
            ...
          {% endif %}
        {% endfor %}
    {% endblock%}